
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}

body {
    background-color: black;
}

#influence {
	background-image:url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/RLMC87YA66JR1552926015954.jpg);
	background-position: center;
    background-size:cover;
    height: 480px;
}

#influence h2{
	color: #ebdec2;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	font-size:17px;
	font-weight:400;
	text-transform: uppercase;
	padding-top:80px;
	text-align:right;
}

#influence h1 {
    font-weight: 400;
    font-size: 47px;
    color: #fff;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 700;
    text-align: right;
}

#influence p {
    margin-top: 20px;
    color: #ebdec2;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
}

#influence a{
  background-color: rgba(0, 0, 0, .4);
  padding: 12px 30px;
  text-align: center;
  color: #f7b10a;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #f7b10a;
  text-transform: uppercase;
}

#influence a:hover{
    background-color: rgba(204, 122, 0, 0.8);
    color: #fad379;
    transition-duration: 0.5s;
    text-transform: uppercase;
}

#bar {
    background-color: rgb(0, 0, 0);
    height: 2px;
}

#avenement {
	background-image:url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/LU2VY3R9P1L01586989638352.jpg);
	background-position: center;
    background-size:cover;
    height: 480px;
}

#avenement h2{
	color: #ebdec2;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	font-size:17px;
	font-weight:400;
	text-transform: uppercase;
	padding-top:80px;
	text-align:left;
}

#avenement h1 {
    font-weight: 400;
    font-size: 47px;
    color: #fff;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-weight: 700;
    text-align:left;
}

#avenement p {
    margin-top: 20px;
    color: #ebdec2;
    font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align:left;
}

#avenement .esp{
  background-color: rgba(0, 0, 0, .4);
  padding: 12px 30px;
  text-align: center;
  color: #f7b10a;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #f7b10a;
  text-transform: uppercase;
}

#avenement .esp:hover{
    background-color: rgba(204, 122, 0, 0.8);
    color: #fad379;
    transition-duration: 0.5s;
    text-transform: uppercase;
}

#avenement .jemabo{
  background-color: rgba(204, 41, 0, 0.4);
  padding: 12px 30px;
  text-align: center;
  color: #f7b10a;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 12px;
  cursor: pointer;
  border: 1px solid #ff3300;
  text-transform: uppercase;
}

#avenement .jemabo:hover{
    background-color: rgba(204, 41, 0, 0.8);
    color: #fad379;
    transition-duration: 0.5s;
    text-transform: uppercase;
}

#maj .marginB {
    padding: 10px;
    margin: 10px;
}

#maj .marginB:hover {
    outline:2px solid #f7b10a;
}

#maj a {
    text-decoration: none;
}

#maj h2{
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    color: #ebdec2;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

#maj h1{
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    text-align: center;
    color: #f8b700;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

#maj .tpart1 {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/SE58SPP78TP01579050179053.jpg);
    background-position: center;
    background-size:cover;
    height: 375px;
    border: 1px solid #ad7c09;
    border-bottom: none;
}

#maj .tpart2 {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/S9EEQMBOXCEL1561500950256.jpg);
    background-position: center;
    background-size:cover;
    height: 375px;
    border: 1px solid #ad7c09;
    border-bottom: none;
}

#maj .tpart3 {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/30WZ1HGMZU5C1463691816866.jpg);
    background-position: center;
    background-size:cover;
    height: 375px;
    border: 1px solid #ad7c09;
    border-bottom: none;
}

#maj .tpart4 {
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/C96JQLGPQKLA1463691818913.jpg);
    background-position: center;
    background-size:cover;
    height: 375px;
    border: 1px solid #ad7c09;
    border-bottom: none;
}

#maj .bpart {
    background-color: #211510;
    padding: 20px 30px;
    border: 1px solid #ad7c09;
}
